<header id="home-header">
    <nav role="navigation">
        <ul>
            <li><a href="#" class="selected">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <div id="header-shadow-layer1"></div>
        <div id="header-shadow-layer2"></div>
    </nav>
</header>
<section id="slider">
    <div class="slides-wrap">
        <ul>
            <li class="slide">
                <img src="./images/test.png" alt="{{title}}" width="960" height="332" class="slide-img">
                <div class="slide-description">
                    <h2 class="slide-title">Your Post Title Goes Right Over Here</h2>
                    <p class="slide-content">Corabitur blandit reutrn felis pretium Corabitur blandit reutrn felis pretium Corabitur blandit reutrn
                        felis pretium Corabitur blandit reutrn felis pretium Corabitur blandit reutrn felis pretium Corabitur
                        blandit reutrn felis pretium Corabitur blandit reutrn felis pretium Corabitur blandit reutrn felis
                        pretium Corabitur blandit reutrn felis pretium Corabitur blandit reutrn felis pretium </p>
                    <a href="#" class="button">Read More</a>
                </div>
                <div class="slide-top-shadow"></div>
                <div class="slide-bottom-shadow"></div>
            </li>
        </ul>
        <ul class="slider-nav">
            <li><a href="#" class="slider-prev">Prev</a></li>
            <li><a href="#" class="slider-next">Next</a></li>
        </ul>
    </div>
    <ol class="slider-controller">
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
    </ol>
</section>
<section id="main-content" class="group">
    <header class="content-header home-content-header">
        <h1>"Chameleon is an extremely versatile theme witha myriad of options and styles"</h1>
        <p class="content-description">Aliquam venenatis enim in mi iaculis in tempor lectus tempor et convallis erat pellentesque</p>
    </header>
    <div class="previews group">
        <article class="preview">
            <h2 class="preview-title">Some Information Here</h2>
            <div class="img-container preview-img-container">
                <img src="./images/t-1.png" alt="" class="preview-img">
                <span class="preview-hover-icon"></span>
            </div>
            <p class="preview-content">Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar.</p>
        </article>
        <article class="preview">
            <h2 class="preview-title">Some Information Here</h2>
            <div class="img-container preview-img-container">
                <img src="./images/t-2.png" alt="" class="preview-img">
                <span class="preview-hover-icon"></span>
            </div>
            <p class="preview-content">Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvAliquam
                eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar.inar.Aliquam
                eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar.</p>
        </article>
        <article class="preview">
            <h2 class="preview-title">Some Information Here</h2>
            <div class="img-container preview-img-container">
                <img src="./images/t-3.png" alt="" class="preview-img">
                <span class="preview-hover-icon"></span>
            </div>
            <p class="preview-content">Aliquam eleifend lacus ac tellus volutpat porttitor. Suspendisse imperdiet tortor ut tortor bibendum pulvinar.</p>
        </article>
    </div>
    <div class="home-related">
        <aside class="home-aside home-aside-list">
            <h4 class="related-links-title">From The Blog</h4>
            <ul class="recent-posts related-links">
                <li><a href="#">Test Test Test Test Test Test</a></li>
                <li><a href="#">Test Test Test Test Test Test</a></li>
                <li><a href="#">Test Test Test Test Test Test</a></li>
                <li><a href="#">Test Test Test Test Test Test</a></li>
                <li><a href="#">Test Test Test Test Test Test</a></li>
                <li><a href="#">Test Test Test Test Test Test</a></li>
            </ul>
        </aside>
        <aside class="home-aside">
            <h4 class="related-links-title">Multi-Media Bar</h4>
            <div id="multi-media-bar" class="group">
                <div class="img-container media-img-container">
                    <img src="../images/t-4.jpg" alt="asdsadsadasdadas" class="media-img">
                    <span class="media-hover-icon"></span>
                </div>
                <div class="img-container media-img-container">
                    <img src="../images/t-4.jpg" alt="asdsadsadasdadas" class="media-img">
                    <span class="media-hover-icon"></span>
                </div>
                <div class="img-container media-img-container">
                    <img src="../images/t-4.jpg" alt="asdsadsadasdadas" class="media-img">
                    <span class="media-hover-icon media-hover-video-icon"></span>
                </div>
                <div class="img-container media-img-container">
                    <img src="../images/t-4.jpg" alt="asdsadsadasdadas" class="media-img">
                    <span class="media-hover-icon"></span>
                </div>
                <div class="img-container media-img-container">
                    <img src="../images/t-4.jpg" alt="asdsadsadasdadas" class="media-img">
                    <span class="media-hover-icon"></span>
                </div>
                <div class="img-container media-img-container">
                    <img src="../images/t-4.jpg" alt="asdsadsadasdadas" class="media-img">
                    <span class="media-hover-icon media-hover-video-icon"></span>
                </div>
                <div class="img-container media-img-container">
                    <img src="../images/t-4.jpg" alt="asdsadsadasdadas" class="media-img">
                    <span class="media-hover-icon"></span>
                </div>
                <ul class="media-nav">
                    <li><a href="#" class="media-prev">Prev</a></li>
                    <li><a href="#" class="media-next">Next</a></li>
                </ul>
            </div>
        </aside>
    </div>
</section>