* {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px 0 80px;
  background: #f4f4f4 url("../images/body-bg.png");
  font-family: 'Droid Sans', Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #929292;
}

main,
#main-header,
#main-footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 50px;
  width: 960px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kreon', Arial, Verdana, sans-serif;
  font-weight: lighter;
  color: #1d1d1d;
}

h1,
h2,
h3 {
  font-size: 2.33em;
}

p {
  padding-bottom: 0.83rem;
  line-height: 1.67rem;
}

ul {
  list-style: none;
}

img {
  border: none;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
}

input::-webkit-search-cancel-button {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

nav a {
  color: inherit;
}

nav li {
  color: #393939;
}

nav li:hover {
  color: #437d8b;
}

.darkgray {
  color: #929292;
}

.group::after {
  content: "";
  display: table;
  clear: both;
}

.selected {
  color: #437d8b;
  pointer-events: none;
}

.button {
  float: right;
  margin-top: 1.25em;
  padding: 0.17em 0.92em 0.17em 0.75em;
  border: 1px solid #eaeaea;
  border-radius: 0.4em;
  background: #fff;
  font-family: 'Kreon', Arial, Verdana, sans-serif;
  color: #2c2c2c;
  line-height: 1.67em;
}

.active {
  background-color: #f6f6f6;
  pointer-events: none;
}

.img-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  height: auto;
}

.related-links-title {
  margin-bottom: 0.65em;
  font-size: 1.67em;
}

.related-links {
  line-height: 2em;
}

.related-links li {
  background: url("../images/item-bullet.png") no-repeat 0 0.83em;
  padding-left: 1.25em;
}

.no-break {
  display: inline-block;
}

/* Header */

#main-header {
  position: relative;
  padding-bottom: 1.5em;
  border-top: 1px solid #fff;
  background: #f8f8f8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #fff 16%);
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #fff 16%);
  background: linear-gradient(to bottom, #f8f8f8 0%, #fff 16%);
  filter: progid: dximagetransform.microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ffffff', GradientType=0);
}

.site-logo {
  margin-top: 2em;
}

.logo-img {
  float: left;
  margin: 0 1em 0.42em 0;
}

.site-title {
  display: inline-block;
  margin-top: 0.2em;
  font-size: 2.4em;
  font-family: 'BlackJackRegular';
  color: #393939;
}

.slogan {
  font-size: 1.1em;
  color: #437d8b;
  text-transform: uppercase;
}

.additional-info {
  position: absolute;
  top: 1px;
  right: 1px;
}

#form-search {
  float: right;
}

#tb-search {
  padding: 0 1em;
  width: 13.33em;
  height: 2.25em;
  border: 0;
  background: #f5f5f5 url("../images/tb-search-bg.png");
  background-size: cover;
  filter: progid: dximagetransform.microsoft.gradient(startColorstr='#000000', endColorstr='#FFFFFF', GradientType=0);
  font-size: 1em;
  font-style: italic;
}

#btn-search {
  position: absolute;
  top: 0.5em;
  right: 0.75em;
  width: 1em;
  height: 1.16em;
  background: url("../images/search.png");
}

.social-links {
  float: right;
  margin: 0.8em 1.56em;
}

.social-img {
  padding-right: 0.3em;
  width: 1.08em;
  height: 1.08em;
}

.twitter-img {
  width: 0.83em;
}

nav > ul > li {
  display: inline-block;
  padding-bottom: 1em;
  font-size: 1.25em;
}

nav > ul > li:not(:last-of-type) {
  margin-right: 1.75em;
}

#main-nav {
  float: right;
  margin-top: -2.3em;
}

#main-nav > ul {
  margin-right: 2.33em;
}

.btn-sub-menu {
  position: relative;
}

.btn-sub-menu::after {
  color: inherit;
  content: "»";
}

.sub-menu {
  display: none;
  position: absolute;
  top: 2em;
  background: #fff;
  border: 1px solid #efefef;
  padding: 0.83em 1.67em;
  z-index: 99;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}

.btn-sub-menu:hover .sub-menu,
.sub-menu:hover {
  display: block;
}

.sub-menu li {
  padding: 0.67em 0;
}

#mobile-nav {
  display: none;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.25em;
  color: #393939;
  z-index: 99;
}

#btn-mobile-nav {
  display: inline-block;
  position: relative;
  padding: 0.8em 1.73em 0.8em 3.53em;
  border: 1px solid #ececec;
  box-shadow: inset 0 0 1px 1px #fff;
  background: #f9f9f9;
}

.mobile-nav-arrow {
  display: block;
  position: absolute;
  width: 1.13em;
  height: 0.73em;
  background: url("../images/mobile-nav-arrow.png") no-repeat;
  top: 0.94em;
  left: 1.47em;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobile-nav > ul {
  display: none;
  position: absolute;
  top: 2.87em;
  left: -6.69em;
  width: 24.33em;
  border: 1px solid #ececec;
  box-shadow: inset 0 0 1px 1px #fff;
  background: #f9f9f9;
  text-align: center;
}

#mobile-nav ul li {
  display: block;
  margin: 0;
  padding: 0.5em 0;
}

#mobile-user-nav {
  border-top: 3px solid #eaeaea;
}

/* Content */

.content-meta {
  padding-bottom: 2.17em;
}

.crumbs li {
  font-family: 'Kreon', Arial, Verdana, sans-serif;
  font-size: 1.17em;
  font-weight: lighter;
  display: inline-block;
  color: #1d1d1d;
}

.crumbs a {
  color: #929292;
}

.crumbs a::after {
  content: "»";
  margin: 0 0.2em 0 0.5em;
}

.content-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 -1.25em 0 -1.08em;
  padding: 2.55em 0 1.25em;
  background: url("../images/content-header-bg.png") no-repeat;
  background-size: cover;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  line-height: normal;
}

.container {
  position: relative;
  background: url("../images/container-bg.png") repeat-y 584px 0;
}

.content-description {
  margin-top: -0.2em;
  font-family: 'Kreon', Arial, Verdana, sans-serif;
  font-size: 1.67em;
  font-weight: lighter;
}

.content {
  float: left;
  margin-left: -1px;
  padding: 35px 37px 0 0;
  width: 546px;
}

.content-info {
  margin-bottom: 2.33em;
  padding: 0.6em 0 0.4em;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  font-family: 'Kreon', Arial, Verdana, sans-serif;
  font-size: 1.25em;
  font-weight: lighter;
  color: #d0d0d0;
}

/* Home */

main {
  display: block;
  padding: 0 50px;
  background: #fff;
  border-bottom: 1px solid #ececec;
}

#home-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 -50px;
  padding: 1.75em 0 0.3em 1.92em;
  border-top: 1px solid #e8e8e8;
  background: url("../images/home-nav-bg.png");
  background-size: cover;
  text-transform: uppercase;
}

#header-shadow-layer1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  background: transparent url("../images/header-shadow-layer1-bg.png") no-repeat center;
  opacity: 0.02;
  z-index: -1;
}

#header-shadow-layer2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: transparent url("../images/header-shadow-layer2-bg.png") no-repeat center;
  opacity: 0.51;
}

.slides-wrap {
  position: relative;
  margin: 0 -50px;
}

.slide-description {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  right: 54px;
  padding: 2.33em 2.42em 3.17em 3.5em;
  width: 412px;
  height: 234px;
  background: rgba(0, 0, 0, 0.59);
}

.slide-title {
  padding: 0 2.3em 0.2em 0;
  color: #fff;
}

.slide-img {
  max-width: 100%;
  max-height: 27.67em;
  height: auto;
}

.slide-content {
  height: 93px;
  overflow: hidden;
  color: #fff;
  opacity: 0.6;
}

.slide-description .button {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #7b9297;
}

.slide-top-shadow {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/slide-top-shadow.png") repeat-x;
  width: 100%;
  height: 4px;
}

.slide-bottom-shadow {
  position: absolute;
  bottom: 4px;
  left: 0;
  background: url("../images/slide-bottom-shadow.png") repeat-x;
  width: 100%;
  height: 4px;
}

.slider-nav a {
  position: absolute;
  top: 50%;
  margin-top: -1.83em;
  width: 3.5em;
  height: 3.67em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  z-index: 99;
  pointer-events: none;
}

.slider-prev {
  left: -0.5em;
  background: url("../images/slider-left-arrow.png");
}

.slider-next {
  right: -0.5em;
  background: url("../images/slider-right-arrow.png");
}

.slider-controller {
  padding: 1.83em 0;
  width: 100%;
  text-align: center;
}

.slider-controller li {
  display: inline-block;
  margin-right: 0.17em;
}

.slider-controller a {
  display: inline-block;
  width: 0.92em;
  height: 0.92em;
  background: url("../images/btn-controller-bg.png");
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.slider-controller .active,
.slider-controller a:hover {
  background: url("../images/btn-active-controller-bg.png");
}

.home-content-header {
  background: 0;
}

.previews {
  padding: 3.83em 0 4.58em;
}

.previews article:not(:last-child),
.home-related aside:not(:last-child) {
  margin-right: 5.33em;
}

.preview {
  float: left;
  width: 240px;
}

.preview-title {
  font-size: 1.67em;
  overflow: hidden;
}

.preview-img-container {
  position: relative;
  margin: 0.4em 0 1.5em;
  padding: 0.25em;
  width: 100%;
  height: 100%;
}

.preview-img,
.media-img {
  border: 0;
}

.preview-img-container:hover .preview-img {
  opacity: 0.5;
}

.preview-hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  margin: -1.67em 0 0 -1.67em;
  width: 3.33em;
  height: 3.41em;
  background: url("../images/preview-hover-icon.png");
  visibility: hidden;
}

.preview-img-container:hover .preview-hover-icon {
  visibility: visible;
}

.preview-content {
  height: 6em;
  overflow: hidden;
}

.home-aside {
  float: left;
  margin-bottom: 1.92em;
}

.home-aside-list {
  width: 20em;
}

#multi-media-bar {
  position: relative;
  border-radius: 0.25em;
  padding: 1.08em 1.17em 1.25em 2.33em;
}

#multi-media-bar,
.media-img-container {
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 11px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f0f0f0;
  border-right-color: #d1d1d1;
  border-bottom-color: #d1d1d1;
}

.media-img-container {
  position: relative;
  float: left;
  margin-right: 1.42em;
  padding: 0.25em;
  width: 4.5em;
  height: 4.5em;
}

.media-img-container:hover .media-img {
  opacity: 0.75;
}

.media-img-container:hover .media-hover-icon {
  visibility: visible;
}

.media-img-container:hover .media-description {
  display: block;
}

.media-hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  margin: -1.37em 0 0 -1.37em;
  width: 2.75em;
  height: 2.75em;
  background: url("../images/media-hover-icon.png");
  visibility: hidden;
}

.media-hover-video-icon {
  background: url("../images/media-hover-video-icon.png");
}

.media-description {
  display: none;
  position: absolute;
  bottom: 5.25em;
  left: -4.83em;
  width: 11.67em;
  padding: 1.25em 1.25em 0.67em;
  z-index: 99;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-bottom: 1px solid #d1d1d1;
  -moz-border-radius: 0.83em;
  -webkit-border-radius: 0.83em;
  border-radius: 0.83em;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: Georgia, serif;
  color: #929292;
  font-style: italic;
}

.media-arrow {
  display: block;
  position: absolute;
  width: 1.17em;
  height: 0.67em;
  bottom: -0.67em;
  left: 6.67em;
  background: url(../images/media-arrow.png) no-repeat;
}

.media-nav a {
  position: absolute;
  top: 50%;
  margin-top: -1.1em;
  width: 2.25em;
  height: 2.25em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  z-index: 99;
  pointer-events: none;
}

.media-prev {
  left: -1em;
  background: url("../images/media-left-arrow.png");
}

.media-next {
  right: -1em;
  background: url("../images/media-right-arrow.png");
}

/* Post */

.post-img-container {
  float: left;
  margin: 0 2.33em 1em 0;
  padding: 0.5em;
  width: 16.67em;
  height: 16.67em;
}

.post-img {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #a0a0a0;
}

.comments {
  margin: 3.5em 0 3.75em;
}

.comments-list {
  margin: 1.83em 0 3.75em;
}

.comment {
  position: relative;
  margin-bottom: 2.25em;
  padding: 1.33em 1em 1.33em 8.33em;
  background: url("../images/comment-bg.png");
  background-size: cover;
}

.author-img-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 1.33em;
  left: 1.33em;
  padding: 0.42em;
  width: 5.67em;
  height: 5.67em;
  border: 1px solid #f0f0f0;
  border-bottom-color: #d1d1d1;
  background: #fff;
}

.author-img {
  width: 100%;
  height: 100%;
}

.author-name {
  font-family: 'Kreon', Arial, Verdana, sans-serif;
  font-size: 1.67em;
  font-weight: lighter;
  color: #1d1d1d;
}

.comment-date {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: #d4d4d4;
}

.comment-date {
  float: right;
}

.inner-comment {
  position: relative;
  margin-left: 7em;
  border: 1px solid #f0f0f0;
}

.comment-arrow {
  position: absolute;
  bottom: -1.58em;
  right: 3.75em;
  width: 1.5em;
  height: 1.58em;
  background: url("../images/comment-arrow-bg.png");
  background-size: cover;
}

.tb-comment {
  padding: 1em 1.92em;
  border: 1px solid #f0f0f0;
  background: url("../images/comment-bg.png");
  font: 1em 'Droid Sans', Arial, Verdana, sans-serif;
}

.input-tb-comment {
  display: block;
  margin-bottom: 0.83em;
  width: 47.1%;
}

#tb-comment-name {
  margin-top: 1.83em;
}

#tb-comment-message {
  padding-top: 1.83em;
  width: 91%;
  background-size: contain;
}

#btn-comment-send {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 3.75em;
  width: 5.92em;
  text-align: center;
}

.sidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 35px 0 0 41px;
  width: 236px;
}

.sidebar-list {
  margin-bottom: 2.33em;
}

.post-title {
  margin-bottom: 0.19em;
}

.category-post {
  margin-bottom: 8.33em;
}

.category-last-post {
  margin-bottom: 11.67em;
}

.category-content-wrap {
  height: 17em;
  overflow: hidden;
}

.pagination {
  position: absolute;
  bottom: 2.67em;
  right: 315px;
}

.pagination li {
  display: inline-block;
  margin-right: 0.17em;
}

/* Footer */

#main-footer {
  padding: 2.08em 4.16em 0.8em;
  background-color: #f9f9f9;
  border: 1px solid #fff;
}

.footer-col {
  float: left;
  width: 15em;
  margin: 1em 3.83em 1em 0;
  overflow: visible;
}

.footer-col:nth-of-type(4) {
  margin: 0;
}

.footer-col .related-links {
  line-height: 1.67em;
}

.footer-col .related-links-title {
  margin-bottom: 0.75em;
}

.footer-col .related-links li {
  margin-bottom: 0.42em;
  background-position-y: 0.58em;
}

.footer-copyright {
  clear: both;
  padding-top: 3em;
  text-align: right;
  color: #cdcdcd;
}

.copyright-link {
  color: #929292;
}

/* Responsive */

@media only screen and (min-width: 768px) and (max-width: 960px) {
  main,
  #main-header,
  #main-footer {
    width: 750px;
  }

  .slide-description {
    height: 220px;
    top: 25px;
  }

  .slide-content {
    height: 66px;
  }

  .home-aside-list {
    display: none;
  }

  .content-header {
    margin: 0 -50px;
    padding-left: 3em;
    padding-right: 3em;
  }

  .container {
    background-position: 506px 0;
  }

  .content {
    margin-left: -18px;
    width: 487px;
  }

  .sidebar {
    margin-right: -50px;
    padding-left: 37px;
    width: 155px;
  }

  .pagination {
    right: 175px;
  }

  .footer-col:nth-of-type(3) {
    margin-right: 0;
  }

  .footer-col:nth-of-type(4) {
    clear: both;
  }
}

@media only screen and (max-width: 767px) {
  main,
  #main-header,
  #main-footer {
    width: 460px;
  }

  #main-header {
    text-align: center;
    padding-left: 0;
  }

  #main-nav,
  .additional-info,
  #home-header,
  .slide-description,
  .home-aside,
  .sidebar,
  .footer-col {
    display: none;
  }

  #mobile-nav {
    display: inline-block;
  }

  .site-logo {
    margin: 2em auto 0;
    width: 242px;
  }

  .content-header {
    margin: 0 -50px;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .previews {
    padding: 2.92em 0 1em;
  }

  .preview {
    width: 386px;
    margin-left: -1em;
  }

  .preview-title,
  .post-title {
    text-align: center;
  }

  .content-info {
    margin: 0 -2em 1em;
    padding: 0.6em 2em 0;
  }

  .container {
    margin-left: -20px;
    width: 404px;
  }

  .content {
    width: 100%;
  }

  .pagination {
    right: 0;
  }

  #tb-comment-message {
    width: 88%;
  }

  .footer-copyright {
    padding: 0;
  }
}

@media only screen and (max-width: 479px) {
  main,
  #main-header,
  #main-footer {
    width: 300px;
  }

  #mobile-nav ul {
    width: 240px;
    left: -40px;
  }

  #slider,
  .post-img-container,
  .author-img-container {
    display: none;
  }

  .preview {
    width: 240px;
    margin-left: -1.67em;
  }

  .container {
    width: 244px;
  }

  #tb-comment-message {
    width: 81%;
  }

  .comment {
    padding-left: 1em;
  }

  #main-footer {
    padding-left: 2.08em;
    padding-right: 2.08em;
  }

  .footer-copyright {
    text-align: center;
  }
}
